body{
    margin:0;
    background:#050505;
    font-family:'Poppins',sans-serif;
    color:white;
}

.resume-container{
    max-width:1000px;
    margin:80px auto;
    padding:50px;
    background:#0b0b0f;
    border-radius:25px;
    border:2px solid transparent;
    background-clip:padding-box;
    box-shadow:0 0 60px rgba(255,215,0,0.3);
    position:relative;
}

.resume-container::before{
    content:"";
    position:absolute;
    inset:-2px;
    border-radius:25px;
    background:linear-gradient(45deg,#FFD700,#FFA500,#FFD700);
    z-index:-1;
}

.profile{
    display:flex;
    gap:30px;
    align-items:center;
    margin-bottom:40px;
}

.profile img{
    width:130px;
    height:130px;
    border-radius:50%;
    border:3px solid #FFD700;
    box-shadow:0 0 25px #FFD700;
}

h1{
    color:#FFD700;
    margin-bottom:5px;
}

.role{
    color:#ccc;
    margin-bottom:10px;
}

section{
    margin-top:40px;
}

h2{
    color:#FFD700;
    margin-bottom:20px;
    position:relative;
}

h2::after{
    content:"";
    width:70px;
    height:3px;
    background:#FFD700;
    position:absolute;
    bottom:-8px;
    left:0;
}

.skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:25px;
}

.skill-card{
    background:#111;
    padding:20px;
    border-radius:15px;
    transition:0.4s;
}

.skill-card:hover{
    box-shadow:0 0 25px #FFD700;
    transform:translateY(-5px);
}

.bar{
    width:100%;
    height:8px;
    background:#222;
    border-radius:20px;
    margin-top:10px;
    overflow:hidden;
}

.bar span{
    display:block;
    height:100%;
    background:linear-gradient(90deg,#FFD700,#FFA500);
    border-radius:20px;
}

.project-card{
    background:#111;
    padding:25px;
    border-radius:15px;
    margin-bottom:20px;
    transition:0.4s;
}

.project-card:hover{
    box-shadow:0 0 30px #FFD700;
    transform:translateY(-5px);
}

/* Responsive */
@media(max-width:768px){
    .profile{
        flex-direction:column;
        text-align:center;
    }
}
.resume-container{
    max-width:1000px;
    margin:80px auto;
    padding:50px;
    background:#0b0b0f;
    border-radius:25px;
    position:relative;
    overflow:hidden;
    animation:containerGlow 3s infinite alternate;
}

@keyframes containerGlow{
    from{
        box-shadow:0 0 30px rgba(255,215,0,0.3);
    }
    to{
        box-shadow:0 0 80px rgba(255,215,0,0.6);
    }
}

.resume-container::before{
    content:"";
    position:absolute;
    inset:-3px;
    border-radius:25px;
    background:linear-gradient(45deg,#FFD700,#FFA500,#FFD700,#ffae00);
    z-index:-1;
    background-size:300% 300%;
    animation:borderMove 6s linear infinite;
}

@keyframes borderMove{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}
